/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    body {

        font-size: 1em;
    
    }


    main {

        padding-bottom: 10%;
    }

    .musikarin-panel {

        width: 33%;

    }

    .emotion-stage {
 
        width: 33%;
     
    }

    #cookie-banner {
        width: 20%;
 
    }
}