

<footer>
    <div class="row">
        <div class="col-12 col-lg-3">
            &copy; @DateTime.Today.Year Karin Wolfensberger
        </div>
        <div class="col-12 col-lg-3">
            <ul>
                <li>
                    <a href="/impressum">Impressum</a>
                </li>
                <li>
                    <a href="/datenschutz">Datenschutz</a>
                </li>
            </ul>

        </div>
        <div class="col-12 col-lg-3">
            <div class="fb-like" data-href="https://musikarin.ch" data-colorscheme="light" data-width="100" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        </div>
        <div class="col-12 col-lg-3 sss-hint">
            <small>
                <a href="http://schenk-smart-solutions.ch/">
                    Designed & Developed by Schenk Smart Solutions
                </a>
            </small>
        </div>
    </div>
</footer>
